body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 80px;
    background: #f3f3f3;
}

button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background: #333;
}
